<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <app-title
          [iconClass]="'fa fa-user-alt'"
          [title]="'Perfil'"
          [subTitle]="'Detalhe Usuario'"
        ></app-title>
      </div>
      <div class="card-body">
        <tabset>
          <tab class="border p-3">
            <ng-template tabHeading>
              <i class="fa fa-address-card">
                <span> Perfil </span>
              </i>
            </ng-template>

            <app-perfil-detalhe
              (changeFormValue)="setFormValue($event)"
            ></app-perfil-detalhe
          ></tab>

          <tab *ngIf="ehPalestrante" class="border p-3">
            <ng-template tabHeading>
              <i class="fa fa-user">
                <span> Palestrante </span>
              </i>
            </ng-template>
          </tab>
          <tab *ngIf="ehPalestrante" class="border p-3">
            <ng-template tabHeading>
              <i class="fa fa-share-square">
                <span> Rede Social </span>
              </i>
            </ng-template>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text"></p>
        <div class="author">
          <input
            type="file"
            #file
            (change)="onFileChange($event)"
            class="form-control is-invalid"
            placeholder=""
            style="display: none"
          />
<!--
            <img
            href="javascript:void(0)"
              alt="..."
              class="avatar"
              [src]="imagemURL"
              click="file.click()"
              style="cursor: pointer;"
            /> -->
            <img
            class="image"
            [src]="imagemURL"
            class="img-fluid"
            (click)="file.click()"
            alt="Card image cap"
            tooltip="Uplaod de Nova Imagem"
            placement="bottom"
          />

            <h5 class="title">{{ usuario.primeiroNome }}</h5>

          <p class="description">{{ usuario.titulo }}</p>
        </div>
        <div class="mt-3">
          <h6>Nome: {{ usuario.primeiroNome }} {{ usuario.ultimoNome }}</h6>
        </div>
        <div class="card-description">
          {{ usuario.descricao }}
        </div>
        <hr class="mt-2" />
        <div class="row">
          <div class="col">
            <p>0</p>
            Eventos Ministrados
          </div>
          <div class="col">
            <p>0</p>
            Eventos Participados
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
          <button
            class="btn btn-icon btn-round btn-facebook"
            href="javascript:void(0)"
          >
            <i class="fab fa-facebook"> </i>
          </button>
          <button
            class="btn btn-icon btn-round btn-twitter"
            href="javascript:void(0)"
          >
            <i class="fab fa-twitter"> </i>
          </button>
          <button
            class="btn btn-icon btn-round btn-google"
            href="javascript:void(0)"
          >
            <i class="fab fa-google-plus"> </i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
