<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row d-flex justify-content-center">
            <!-- SE COLOCAR SIDEBAR PEGA A MANAGER COLOR -->
            <div class="card-login col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                </div>
                <form [formGroup]="form" class="user" (ngSubmit)="register()">
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="text"
                        class="form-control form-control-user colorRegister"
                        id="primeiroNome"
                        formControlName="primeiroNome"
                        [ngClass]="{
                          'is-invalid':
                            f.primeiroNome?.errors && f.primeiroNome?.touched
                        }"
                        placeholder="First Name"
                      />
                      <div
                        *ngIf="f.primeiroNome.errors?.required"
                        class="invalid-feedback"
                      >
                        Primeiro e obrigatorio
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="text"
                        class="form-control form-control-user colorRegister"
                        id="ultimoNome"
                        formControlName="ultimoNome"
                        [ngClass]="{
                          'is-invalid':
                            f.ultimoNome?.errors && f.ultimoNome?.touched
                        }"
                        placeholder="Last Name"
                      />
                      <div
                        *ngIf="f.ultimoNome.errors?.required"
                        class="invalid-feedback"
                      >
                        Ultimo e obrigatorio
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user colorRegister"
                      id="user"
                      formControlName="userName"
                      [ngClass]="{
                        'is-invalid': f.userName?.errors && f.userName?.touched
                      }"
                      placeholder="userName"
                    />
                    <div
                      *ngIf="f.userName.errors?.required"
                      class="invalid-feedback"
                    >
                      userName e obrigatorio
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user colorRegister"
                      id="email"
                      formControlName="email"
                      [ngClass]="{
                        'is-invalid': f.email?.errors && f.email?.touched
                      }"
                      placeholder="Email Address"
                    />
                    <div
                      *ngIf="f.email.errors?.required"
                      class="invalid-feedback"
                    >
                      Email e obrigatorio
                    </div>
                    <div *ngIf="f.email.errors?.email" class="invalid-feedback">
                      Email nao e valido
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="password"
                        class="form-control form-control-user colorRegister"
                        id="password"
                        formControlName="password"
                        [ngClass]="{
                          'is-invalid':
                            f.password?.errors && f.password?.touched
                        }"
                        placeholder="Password"
                      />
                      <div
                        *ngIf="f.password.errors?.required"
                        class="invalid-feedback"
                      >
                        Passord e obrigatorio
                      </div>
                      <div
                        *ngIf="f.password.errors?.minlength"
                        class="invalid-feedback"
                      >
                        Deve ter no minimo 4 caracteres
                      </div>
                      <div
                        *ngIf="f.password.errors?.maxlength"
                        class="invalid-feedback"
                      >
                        Tamanho max permitido e de 50 caracteres
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="password"
                        class="form-control form-control-user colorRegister"
                        id="confirmPass"
                        formControlName="confirmPass"
                        [ngClass]="{
                          'is-invalid':
                            f.confirmPass?.errors && f.confirmPass?.touched
                        }"
                        placeholder="Repeat Password"
                      />
                      <div
                        *ngIf="f.confirmPass.errors?.required"
                        class="invalid-feedback"
                      >
                        Confirmation Password e obrigatorio
                      </div>
                      <div
                        *ngIf="f.confirmPass.errors?.mustMatch"
                        class="invalid-feedback"
                      >
                        Senhas nao sao iguais
                      </div>
                    </div>

                    <div class="form-group">
                      <div
                        class="custom-control col-sm-12 mt-2 custom-checkbox small"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customCheck"
                          formControlName="confirmTerms"
                        />
                        <label class="custom-control-label" for="customCheck"
                          >Eu concordo com os termos</label
                        >
                      </div>
                    </div>
                  </div>
                  <button
                    [disabled]="form.invalid"
                    href="login.html"
                    class="btn btn-primary btn-user btn-block"
                    type="submit"
                  >
                    Register Account
                  </button>
                  <hr />
                  <a class="btn btn-info btn-block">
                    <i class="fab fa-google fa-fw"></i> Register with Google
                  </a>
                  <a class="btn btn-info btn-block">
                    <i class="fab fa-facebook-f"></i> Register with Facebook
                  </a>
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" routerLink="/user/login"
                    >Already have an account? Login!</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
