<div class="row">
  <div class="col-12">
    <div class="card card-chart">
      <div class="container">
        <app-title
          [iconClass]="'fa fa-calendar-alt'"
          [title]="'Eventos'"
          [subTitle]="'Lista de Eventos'"
          [botaoListar]="true"
        ></app-title>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<!-- <ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que irá deletar o evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template> -->
